<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <h1>Jawbone UP Sleep Data</h1>
    <p>Log in to see your latest sleep data.</p>
    <a href="/login/jawbone" class="btn">Login</a>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>