<!DOCTYPE html>
<html lang="en" ng-app="jawboneSUApp">
<head>
    <% include ../partials/head %>
</head>
<body class="container" ng-style="{ 'background-image': 'url(assets/oobe_background_tile.png)' }">

  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <div ui-view></div>

  </main>

  <script type="text/javascript" src="scripts/vendor.js"></script>
  <script>
     angular.module('PreloadedData', [])
       .constant('JawboneData', <%- JSON.stringify(user) %>);
  </script>
  <script type="text/javascript" src="scripts/jawbone-app.js"></script>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>