<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

  <header>
    <%- JSON.stringify(user) %>
  </header>

  <div id="react-application">
    Learning the essentials of React
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
  <script type="text/javascript" src="scripts/main.js"></script>

</body>
</html>
